.uviBox {
  display: inline;
  border-radius: 10px;
  padding: 5px;
}

.lowUVI {
  background-color: yellowgreen;
}

.medUVI {
  background-color: yellow;
}

.highUVI {
  background-color: orange;
}

.veryHighUVI {
  background-color: red;
}

.card-body {
  padding: 0;
  margin-right: 5px;
}

.daysWea {
  padding: 0;
}