* {
  padding: 0;
}

/* body {
  height: 100vh;
} */

#rowBox {
  --bs-gutter-x: -1rem;
}

.col-8 {
  padding: 0;
}

#currentCityWeather {
  border: 1px solid black;
  margin: 5px;
  padding: 0;
}

.uviBox {
  display: inline;
  border-radius: 10px;
  padding: 5px;
}

.lowUVI {
  background-color: yellowgreen;
}

.medUVI {
  background-color: yellow;
}

.highUVI {
  background-color: orange;
}

.veryHighUVI {
  background-color: red;
}

.card-body {
  padding: 0;
}

.daysWea {
  padding: 0;
}

#cityLiBtn {
  border: none;
}